In [13]:
import pandas as pd

from def_clean import DefensiveCleaning

def_cleaning = DefensiveCleaning(n_cuts=11)

..............................initializing
..data downloaded...

In [14]:
%%time

def_cleaning.combine_week(1)

...Week 1 loaded...
...filtered...
...transformed...
...time reduced...
...starting dataframe generated...
...distance calculated...
...action type generated...
.....Week 1 COMPLETE.....
CPU times: user 37.8 s, sys: 6.13 s, total: 43.9 s
Wall time: 44 s

,gameId,playId,posId,value,defendersInTheBox,DB,LB,DL,yardline_first,yardline_100,week
0,2018090600,75,CBL0_act,M,7.0,5,2,4,65.0,80.0,1
1,2018090600,75,CBR0_act,M,7.0,5,2,4,65.0,80.0,1
2,2018090600,75,FSL0_act,M,7.0,5,2,4,65.0,80.0,1
3,2018090600,75,FSR0_act,M,7.0,5,2,4,65.0,80.0,1
4,2018090600,75,LBL0_act,M,7.0,5,2,4,65.0,80.0,1
...,...,...,...,...,...,...,...,...,...,...,...
21235,2018091001,4192,SSR0_x_start,5.11,5.0,6,2,3,29.0,31.0,1
21236,2018091001,4192,ILBL0_y_start,-6.99,5.0,6,2,3,29.0,31.0,1
21237,2018091001,4192,ILBL0_x_start,4.09,5.0,6,2,3,29.0,31.0,1
21238,2018091001,4192,SSL0_y_start,-5.8,5.0,6,2,3,29.0,31.0,1
21239,2018091001,4192,SSL0_x_start,11.99,5.0,6,2,3,29.0,31.0,1