In [2]:
from def_clean import DefensiveCleaning

def_cleaning = DefensiveCleaning(n_cuts=5)
trans = def_cleaning.generate_full_df(1, 2)

..............................initializing
..data downloaded...
...filtered...
...transformed...
...time reduced...
...starting dataframe generated...
...distance calculated...
...action type dataframe generated...
.....Week 1 COMPLETE.....

   100.0% COMPLETE

--- 1.2 minutes elapsed ---

the weeks complete:  [1]
...filtered...
...transformed...
...time reduced...
...starting dataframe generated...
...distance calculated...
...action type dataframe generated...
.....Week 2 COMPLETE.....

   200.0% COMPLETE

--- 2.7 minutes elapsed ---

the weeks complete:  [1 2]
Defensive cleaning complete --- check assets/def_clean_output.csv

In [3]:
trans

posId             CBL0_act CBL0_x_start CBL0_y_start CBL1_act CBL1_x_start  \
gameId     playId
2018090600 75            M        83.92        43.44      NaN          NaN
           146           M        41.61        39.97      NaN          NaN
           168           M        45.52        43.81      NaN          NaN
           190           Z        43.91        37.25      NaN          NaN
           256         NaN          NaN          NaN      NaN          NaN
...                    ...          ...          ...      ...          ...
2018091700 4004          M        53.15        40.11      NaN          NaN
           4037          M       44.535        43.71      NaN          NaN
           4104          Z        31.84        39.34        M        25.43
           4128          M        14.32        36.26        M        12.65
           4174          M       10.555       39.975      NaN          NaN

posId             CBL1_y_start CBL2_act CBL2_x_start CBL2_y_start CBR0_act  \
gameId     playId
2018090600 75              NaN      NaN          NaN          NaN        M
           146             NaN      NaN          NaN          NaN        M
           168             NaN      NaN          NaN          NaN        M
           190             NaN      NaN          NaN          NaN        M
           256             NaN      NaN          NaN          NaN      NaN
...                        ...      ...          ...          ...      ...
2018091700 4004            NaN      NaN          NaN          NaN      NaN
           4037            NaN      NaN          NaN          NaN      NaN
           4104          46.21      NaN          NaN          NaN        M
           4128           44.9      NaN          NaN          NaN        M
           4174            NaN      NaN          NaN          NaN      NaN

posId              ... SSL0_y_start SSL1_act SSL1_x_start SSL1_y_start  \
gameId     playId  ...
2018090600 75      ...         36.5      NaN          NaN          NaN
           146     ...        36.07      NaN          NaN          NaN
           168     ...          NaN      NaN          NaN          NaN
           190     ...          NaN      NaN          NaN          NaN
           256     ...        44.83      NaN          NaN          NaN
...                ...          ...      ...          ...          ...
2018091700 4004    ...          NaN      NaN          NaN          NaN
           4037    ...          NaN      NaN          NaN          NaN
           4104    ...          NaN      NaN          NaN          NaN
           4128    ...          NaN      NaN          NaN          NaN
           4174    ...          NaN      NaN          NaN          NaN

posId             SSR0_act SSR0_x_start SSR0_y_start SSR1_act SSR1_x_start  \
gameId     playId
2018090600 75          NaN          NaN          NaN      NaN          NaN
           146         NaN          NaN          NaN      NaN          NaN
           168           M        46.43        20.74      NaN          NaN
           190           M        45.69        22.36      NaN          NaN
           256         NaN          NaN          NaN      NaN          NaN
...                    ...          ...          ...      ...          ...
2018091700 4004        NaN          NaN          NaN      NaN          NaN
           4037        NaN          NaN          NaN      NaN          NaN
           4104        NaN          NaN          NaN      NaN          NaN
           4128        NaN          NaN          NaN      NaN          NaN
           4174        NaN          NaN          NaN      NaN          NaN

posId             SSR1_y_start
gameId     playId
2018090600 75              NaN
           146             NaN
           168             NaN
           190             NaN
           256             NaN
...                        ...
2018091700 4004            NaN
           4037            NaN
           4104            NaN
           4128            NaN
           4174            NaN

[2060 rows x 162 columns]